body {
    font-family: "open sans", "sans-serif";
}

ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 18px;
    padding: 10px;
    text-transform: uppercase;
    vertical-align: middle;
}

nav {
    background-color: #10243b;
    color: white;
    font-size: 14px;
    padding: 0px;
    margin: 0px; 
    width: 100%;
    position: absolute;
    top: 0%;
}

#hero {
    background-image: url(fans.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    }

   
    #heroimg {
        position: relative;
        top: 130px;
        left: 0px
      }

    #h1 {
        position: relative;
        left: 0px;
        text-shadow: 1px 1px #333;
        color: white;
        margin: 300px;
        bottom: 275px;
        font-family: 'PT Sans Narrow', sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-size: 36px;

    }

    #h4 {
        position: relative;
        left: 0px;
        text-shadow: 1px 1px #333;
        color: white;
        margin: 300px;
        bottom: 575px;
        font-family: 'PT Serif', serif;
    font-style: italic;
    font-size: 18px;
  
    }

    #shadowbox {
        height: 800px;
        width: 800px;
    }

    #explorecchs {
        width: 100vw;
        height: 400vh;
    }
   
    #exploreheader {
        width: 100vw;
        height: 81px;
        background-color: #10243b;
        text-align: center;
    }

    #exploresection {
        width: 100vw;
        height: 319px;
        background-color: slateblue;
    }

    .explorebox {
        height: 315px;
        width: 25%;
        background-color: peru;
        float: left;
    }

    * {
        margin: 0px;
        padding: 0px;
    }

    #Hurricane {
        background-image: url(patriots\ plaza.jpg);
        background-position: center;
        background-size: cover;
    }

    #Guidance {
        background-image: url(college.png);
        background-position: center;
        background-size: cover;
    }

    #CCNN {
        background-image: url(ccnn.jpg);
        background-position: center;
        background-size: cover;
    }

    #Media {
        background-image: url(ccnn\ live.png);
        background-position: center;
        background-size: cover;
    }

    #glance {
        width: 100vw;
        height: 400vh;
    }

    #glanceheader {
        width: 100vw;
        height: 81px;
        background-color: white;
        text-align: center;
    }
   
#glancesection {
        width: 100vw;
        height: 319px;
        background-color: black;

}
  
#Money {
    background-image: url(carosel\ money.jpg);
    background-position: center;
    background-size: cover;
}

#Hat {
    background-image: url(carosel\ graduation.jpg);
        background-position: center;
        background-size: cover;
}

#Book {
    background-image: url(book.jpg);
    background-position: center;
    background-size: cover;
}

#Teaching {
    background-image: url(carosel\ teaching.jpg);
    background-position: center;
    background-size: cover;
}
