body {
    font-family: "open sans", "sans-serif";
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 18px;
    padding: 10px;
    text-transform: uppercase;
}

nav {
    background-color: #10243b;
    color: white;
    font-size: 14px;
    padding: 0px;
    margin: 0px; 
    width: 100%;
    position: absolute;
    top: 0%;
}

#hero {
    background-image: url(graduation.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    }