body {
    font-family: "open sans", "sans-serif";
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 10px;
    padding: 10px;
}

nav {
    background-color: #10243b;
    color: white;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 100%;
    top: 0%;
}